# Der Ordner in dem das Netbeans Projekt angelegt ist muss nicht auf Github liegen
/nbproject/

# Der Ordner in dem Bootstrap liegt soll auch nicht Synchronisiert werden - verkürzt die Uploadzeiten und jeder kann sich Bootstrap runterladen wenn er möchte :)
/shop/assets/bootstrap/css
/shop/assets/bootstrap/js
