/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.08.2021, 23:48:14
    Author     : L00tz1ffer
*/

.jumbotron-workaround{
    background-color: hsl(0, 0%, 94%);
    font-size: 320%;
    margin: 2px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#cartItems .cartItemHeader{
    border-bottom: 1px solid #DDD;   
}

#cartItems .cartItem{
    border-bottom: 1px solid #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#cartItems .productPicture{
    width: 100%;
    height: auto;
}

.price{
    color: RED;
    font-weight: bold;
}


.loginHeader{
    padding-bottom: 50px;
}

